<%= render 'shared/content_title', title: 'Enter Your Pin to Log In' %>
<p>
	Your account is locked.  You will receive a text message with a pin number.  Enter the pin number to unlock your account and proceed with login.
</p>
<div class='well'>
	<%= form_tag '/pin' do %>
		<div class='control-group'>
			<%= label_tag :pin, "Pin Number" %>
			<%= text_field_tag :pin, params[:pin] || '' %>
		</div>
		<%= submit_tag 'Unlock', class: 'btn btn-success' %>
	<% end %>
</div>