	<% show_post ||= false %>
	<div class="row">
		<div class='span0 well text-center'>
	    <% if logged_in? %>
	  		<%= link_to vote_post_comment_path(comment.post, comment, vote: :true), method: 'post', remote: true do %>
	  			<i class="icon-arrow-up"></i>
	  		<% end %>	
	    <% end %>  
	      <br>
	      <span id="comment_<%= comment.id %>_votes"><%= comment.total_votes %></span>
	      <br>
	    <% if logged_in? %>      
	  		<%= link_to vote_post_comment_path(comment.post, comment, vote: :false), method: 'post', remoate: true do %>
	  			<i class="icon-arrow-down"></i>
	  		<% end %>
	    <% end %>
	</div>
		<div class="span8 well">
			<p><%= comment.body %></p>
			<% if show_post %>
			on <%= link_to comment.post.title, post_path(comment.post) %>
			<% end %>
			<p>
	  		<span class="quiet">posted by</span> <%= link_to comment.creator.username, user_path(comment.creator) %>
	  		<small>at <%= display_datetime(comment.created_at) %></small>
	  	</p>
		</div>
	</div>	