
<% if @post.errors.any? %>
	<div class="alert alert-error">
		<h5><%= @post.errors.count %> errors prevented this Post from being saved:</h5>
		<ul >
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="well">
	<%= form_for @post  do |f| %>
		<div class="control-group">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>

		<div class="control-group">
			<%= f.label :description %>
			<%= f.text_area :description, rows: 5 %>
		</div>

		<div class="control-group">
			<%= f.label :url %>
			<%= f.text_field :url %><br>
		</div>

		<%= f.submit class: "btn btn-primary" %>
	<% end %>
</div>
